.create-container
  form(action='/superhero' method='post' enctype="multipart/form-data")
    input(type='text', placeholder='Superhero Name' required='required', name='superhero')
    input(type='file' name='file')
    button Create